<div class="statsContainer dark" *ngIf="selectedTabIndex === 2">
  <ngx-charts-number-card
    [view]="view"
    [scheme]="colorScheme"
    [results]="wage"
    [cardColor]="cardColor"
    [animations]="true"
    [valueFormatting]="resultsValueFormatting"
  >
  </ngx-charts-number-card>
  <ngx-charts-number-card
    [view]="view"
    [scheme]="colorScheme"
    [results]="results"
    [cardColor]="cardColor"
    [animations]="true"
    [valueFormatting]="resultsValueFormatting"
  >
  </ngx-charts-number-card>
  <ngx-charts-number-card
    [view]="view"
    [scheme]="colorScheme"
    [results]="playedTimes"
    [cardColor]="cardColor"
    [animations]="true"
    [valueFormatting]="playedTimeValueFormatting"
  >
  </ngx-charts-number-card>
  <div class="chartsContainer">
    <div class="barChartContainerContainer">
      <div class="barChartContainer dark">
        <h3>Yearly Results</h3>
        <ngx-charts-bar-vertical-stacked
          class="barChart"
          [scheme]="colorScheme"
          [results]="multi"
          [gradient]="gradient"
          [xAxis]="showXAxis"
          [yAxis]="showYAxis"
          [legend]="showLegend"
          [showXAxisLabel]="showXAxisLabel"
          [showYAxisLabel]="showYAxisLabel"
          [xAxisLabel]="xAxisLabel"
          [yAxisLabel]="yAxisLabel"
          [animations]="animations"
          [customColors]=""
        >
        </ngx-charts-bar-vertical-stacked>
      </div>
    </div>

    <div class="barChartContainerContainer">
      <div class="barChartContainer dark">
        <h3>Monthly Results (Last 12 months)</h3>
        <ngx-charts-bar-vertical-stacked
          class="barChart"
          [scheme]="colorScheme"
          [results]="monthly"
          [gradient]="gradient"
          [xAxis]="showXAxis"
          [yAxis]="showYAxis"
          [legend]="showLegend"
          [showXAxisLabel]="showXAxisLabel"
          [showYAxisLabel]="showYAxisLabel"
          [xAxisLabel]="xAxisLabelMonthly"
          [yAxisLabel]="yAxisLabel"
          [animations]="animations"
          [customColors]=""
        >
        </ngx-charts-bar-vertical-stacked>
      </div>
    </div>
  </div>
  <div *ngIf="type[0].value != 0 || type[1].value != 0" class="chartsContainer">
    <div class="barChartContainerContainer">
      <div class="barChartContainer dark">
        <h3>Game type distribution</h3>
        <ngx-charts-pie-chart
          class="barChart"
          [scheme]="colorScheme"
          [results]="type"
          [gradient]="gradient"
          [legend]="showLegend"
          [labels]="showLabels"
          [doughnut]="isDoughnut"
          [legendPosition]="legendPosition"
        >
        </ngx-charts-pie-chart>
      </div>
    </div>
    <div class="barChartContainerContainer">
      <div class="barChartContainer dark">
        <h3>Table size distribution</h3>
        <ngx-charts-pie-chart
          *ngIf="tables.length > 0"
          class="barChart"
          [scheme]="colorScheme"
          [results]="tables"
          [gradient]="gradient"
          [legend]="showLegend"
          [labels]="showLabels"
          [doughnut]="isDoughnut"
          [legendPosition]="legendPosition"
        >
        </ngx-charts-pie-chart>
        <h2 *ngIf="tables.length == 0">No data to present</h2>
      </div>
    </div>
  </div>
  <div *ngIf="false" class="chartsContainer">
    <div class="barChartContainerContainer">
      <div class="barChartContainer dark">
        <h3>Yearly Results</h3>
        <ngx-charts-bar-vertical-stacked
          class="barChart"
          [scheme]="colorScheme"
          [results]="multi"
          [gradient]="gradient"
          [xAxis]="showXAxis"
          [yAxis]="showYAxis"
          [legend]="showLegend"
          [showXAxisLabel]="showXAxisLabel"
          [showYAxisLabel]="showYAxisLabel"
          [xAxisLabel]="xAxisLabel"
          [yAxisLabel]="yAxisLabel"
          [animations]="animations"
          [customColors]=""
        >
        </ngx-charts-bar-vertical-stacked>
      </div>
    </div>

    <div *ngIf="false" class="barChartContainerContainer">
      <div class="barChartContainer dark">
        <h3>Monthly Results</h3>
        <ngx-charts-bar-vertical-stacked
          class="barChart"
          [scheme]="colorScheme"
          [results]="monthly"
          [gradient]="gradient"
          [xAxis]="showXAxis"
          [yAxis]="showYAxis"
          [legend]="showLegend"
          [showXAxisLabel]="showXAxisLabel"
          [showYAxisLabel]="showYAxisLabel"
          [xAxisLabel]="xAxisLabel"
          [yAxisLabel]="yAxisLabel"
          [animations]="animations"
          [customColors]=""
        >
        </ngx-charts-bar-vertical-stacked>
      </div>
    </div>
  </div>
</div>
