<div class="statsContainer" *ngIf="selectedTabIndex === 2">
  <ngx-charts-number-card
    [view]="view"
    [scheme]="colorScheme"
    [results]="wage"
    [cardColor]="cardColor"
    [animations]="true"
    [valueFormatting]="resultsValueFormatting"
  >
  </ngx-charts-number-card>
  <ngx-charts-number-card
    [view]="view"
    [scheme]="colorScheme"
    [results]="results"
    [cardColor]="cardColor"
    [animations]="true"
    [valueFormatting]="resultsValueFormatting"
  >
  </ngx-charts-number-card>
  <ngx-charts-number-card
    [view]="view"
    [scheme]="colorScheme"
    [results]="playedTimes"
    [cardColor]="cardColor"
    [animations]="true"
    [valueFormatting]="playedTimeValueFormatting"
  >
  </ngx-charts-number-card>
  <div class="chartsContainer">
    <div class="barChartContainerContainer">
      <div class="barChartContainer">
        <h3>Yearly Results</h3>
        <ngx-charts-bar-vertical-stacked
          class="barChart"
          [scheme]="colorScheme"
          [results]="multi"
          [gradient]="gradient"
          [xAxis]="showXAxis"
          [yAxis]="showYAxis"
          [legend]="showLegend"
          [showXAxisLabel]="showXAxisLabel"
          [showYAxisLabel]="showYAxisLabel"
          [xAxisLabel]="xAxisLabel"
          [yAxisLabel]="yAxisLabel"
          [animations]="animations"
          [customColors]=""
        >
        </ngx-charts-bar-vertical-stacked>
      </div>
    </div>

    <div class="barChartContainerContainer">
      <div class="barChartContainer">
        <h3>Monthly Results</h3>
        <ngx-charts-bar-vertical-stacked
          class="barChart"
          [scheme]="colorScheme"
          [results]="monthly"
          [gradient]="gradient"
          [xAxis]="showXAxis"
          [yAxis]="showYAxis"
          [legend]="showLegend"
          [showXAxisLabel]="showXAxisLabel"
          [showYAxisLabel]="showYAxisLabel"
          [xAxisLabel]="xAxisLabel"
          [yAxisLabel]="yAxisLabel"
          [animations]="animations"
          [customColors]=""
        >
        </ngx-charts-bar-vertical-stacked>
      </div>
    </div>
  </div>
  <div *ngIf="false" class="chartsContainer">
    <div class="barChartContainerContainer">
      <div class="barChartContainer">
        <h3>Yearly Results</h3>
        <ngx-charts-bar-vertical-stacked
          class="barChart"
          [scheme]="colorScheme"
          [results]="multi"
          [gradient]="gradient"
          [xAxis]="showXAxis"
          [yAxis]="showYAxis"
          [legend]="showLegend"
          [showXAxisLabel]="showXAxisLabel"
          [showYAxisLabel]="showYAxisLabel"
          [xAxisLabel]="xAxisLabel"
          [yAxisLabel]="yAxisLabel"
          [animations]="animations"
          [customColors]=""
        >
        </ngx-charts-bar-vertical-stacked>
      </div>
    </div>

    <div *ngIf="false" class="barChartContainerContainer">
      <div class="barChartContainer">
        <h3>Monthly Results</h3>
        <ngx-charts-bar-vertical-stacked
          class="barChart"
          [scheme]="colorScheme"
          [results]="monthly"
          [gradient]="gradient"
          [xAxis]="showXAxis"
          [yAxis]="showYAxis"
          [legend]="showLegend"
          [showXAxisLabel]="showXAxisLabel"
          [showYAxisLabel]="showYAxisLabel"
          [xAxisLabel]="xAxisLabel"
          [yAxisLabel]="yAxisLabel"
          [animations]="animations"
          [customColors]=""
        >
        </ngx-charts-bar-vertical-stacked>
      </div>
    </div>
  </div>
</div>
