#notificationsContainer {
  max-width: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  max-width: 100%;
  align-items: flex-start;
}
.containerHistory {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}
.historyItem {
  width: 850px;
  max-width: 100%;
  align-self: center;
}
.red {
  color: red;
}
.green {
  color: green;
}
span {
  margin: 0;
  padding: 0;
}
.amount {
  margin-right: 0.5rem;
  display: flex;
  flex-direction: row;
}
.title {
  width: 15%;
  display: flex;
  flex-flow: row-reverse;
  margin-right: 5px;
}
.currency {
  width: 200px;
}
.details {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.loadMoreBtn {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
