<div id="addFriendContainer" fxLayout="row">
  <div class="container" fxLayout="column" fxLayoutGap="10px">
    <h2>Friends</h2>
    <div class="container" fxLayout="row" fxLayoutGap="10px">
      <mat-accordion multi="true" class="historyItem">
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header class="firendsHeader">
            <div class="title">
              You have {{ friends.length }} friends,
              {{ addedFriends.length }} pending,
              {{ friendRequests.length }} requests
            </div>
          </mat-expansion-panel-header>
          <div class="details">
            <h4>Friends:</h4>
            <p *ngFor="let friend of friends">
              {{ friend.name }} - {{ friend.email }}
            </p>
            <h4>Received requests:</h4>
            <p *ngFor="let friend of friendRequests">
              {{ friend.name }} - {{ friend.email }}
              <button
                mat-flat-button
                (click)="acceptFriendRequest(friend.socialId)"
                color="primary"
              >
                Accept
              </button>
            </p>
            <h4>Waiting for their response:</h4>
            <p *ngFor="let friend of addedFriends">
              {{ friend.name }} - {{ friend.email }}
            </p>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
      <button
        id="addFriendBtn"
        (click)="openDialog()"
        mat-flat-button
        color="primary"
      >
        Add New Friend
      </button>
    </div>
  </div>
</div>
